/*
.card{
  box-shadow: '0px 0px 10px 2px #b6c3c7';
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  border-radius: '10px';
  text-decoration: 'none';
} */

.card-body {
  color: black;
  text-decoration: none;
}

.card-action{
  text-decoration: none;
}

.card:hover {
 /* background-color: rgb(228, 238, 228); */
 border: 3px solid rgb(5, 173, 5) !important;
}

.card-active {
  border: 3px solid rgb(5, 173, 5) !important;
}

.card-inactive {
  border: 3px solid white !important;
}
