<div class="conteiner">

  <div class="grid" style="margin-top: 4vw;">

    <div class="col-6" style="border-right: 3px solid black;">
      <div style="font-size: 4vw; font-weight: 900; margin-bottom: 2vw; margin-left: 1.5vw;">Preparando:</div>

      <div style="font-size: 4vw; font-weight: 900; margin-left: 1.5vw; margin-bottom: 2vw; line-height: 3.2vw; color: #bbb;"
        *ngFor="let ped of pedidosEmPreparo">
        {{ped.nome_cliente}}
      </div>

    </div>

    <div class="col-6" style="border-left: 3px solid black;">
      <div style="font-size: 4vw; font-weight: 900; margin-bottom: 2vw; margin-left: 1.5vw;">Prontos:</div>

      <div style="font-size: 4vw; font-weight: 900; margin-left: 1.5vw; margin-bottom: 2vw; line-height: 3.2vw; color: #125c13;"
        *ngFor="let ped of pedidosProntos">
        {{ped.nome_cliente}}
      </div>

    </div>

  </div>

</div>
