.card-body {
  color: black;
  text-decoration: none;
}

.card-action{
  text-decoration: none;
}

.card:hover {
 background-color: lightgreen;
}

.card-active {
 background-color: lightgreen;
}

.card-inactive {
 background-color: none;
}
